<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Macrobenchmark module manifest. Minimal — this isn't an installed app,
         just an instrumentation harness invoked by gradle test runner. -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>
